*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    align-items: center;
    background-color: rgb(156, 92, 92);
}